*{
    padding: 0;
    margin: 0;
}
.nav-title{
    color: white;
}
.nav{
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.btn{
    background-color: turquoise;
    color: white;
    padding: 10px;
    
}
a{
text-decoration: none;   
color: white;
}